/** @format */
#root {
  background-color: #F6F6F6;

}
#main-footer {
  background: #343a40;
  color: #fff;
}
.body {
  display:flex;
  flex-wrap:wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;

}

#page-header {
  height: 100px;
  background: url("../assets/img/image.jpg");
  background-position: 54% 35%;
  background-size: 100%;
  
  color: white;
  border-bottom: 1px #eee solid;
  padding-top: 10px;
  margin-bottom: 20px;
}

#main-body {
  min-height: 90vh;
}

.Menu_list_top {
  display:flex;
  flex-direction:column;
  
}

.menu_list {
  display:flex;
  flex-direction:column;
}


.card-img-top {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}



// CkEditor5 Setting
.ck {
  .ck-editor {
    min-width: 100%;
  }
}

.ck-editor__editable {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100rem;
}
.ck-editor__editable_inline {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100%;
}

html {
  width: 100vw;
  overflow-x: hidden;
}
// html 흔들림 잡음


textarea {
  resize: none;
}


.my_category {
  &:last-child {
    margin-bottom: 0.25rem;
  }
}










.maze_page{
  text-align: center;  // div 사이즈 영역 안에서의 center
  width: 100%;}

.maze_pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 20px;}

.maze_pagination li {
  display: inline;
  text-align: center;}

// 숫자들에 대한 스타일 지정
.maze_pagination span {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5;}

.maze_first{
  margin-right: 15px;}

.maze_last{
  margin-left: 15px;}

.maze_first:hover, .last:hover, .left:hover, .right:hover{
  color: #2e9cdf;}

.maze_pagination span.active {
  cursor: default;
  color: #ffffff;}

.maze_pagination span:active {
  outline: none;}

.maze_modal .maze_num {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;}

.maze_modal .maze_num:hover {
  background-color: #2e9cdf;
  color: #ffffff;}

  .maze_pagination .maze_num_current {
  background-color: tomato;
  color: #ffffff;
}

.maze_modal .maze_num.active, .maze_modal .maze_num:active {
  background-color: #2e9cdf;
  cursor: pointer;}


  .maze_modal .maze_list_etc { 
  font-size: 18px; 
  color: #626262;
  padding-top: 0px;
} 
.maze_modal .maze_last { 
  font-size: 18px; 
  color: #626262;
  padding-top: 3px;
} 







.top_menu_nav {
  // margin-left : 30px;
  float:left
}
.top_menu_nav ul {
position : relative;
margin : 0;
padding : 0;
list-style : none;
color : white;
}
.top_menu_nav ul::after {
display : block;
clear : both;
content : ”;
}
.top_menu_nav> ul> li {
position : relative;
float : left;
//border : 2px solid #fff;
}
.top_menu_nav ul li:not(:first-child) {
border-left : none;
}

.top_menu_nav ul li:hover {
// background-color : rgba(255,255,255, 0.3);
}
.top_menu_nav ul li .top_menu_link {
  
display : inline-block;
padding : 10px 2em;
color : #fff;
line-height : 1;
text-align : center;
text-decoration : none;
white-space : nowrap;
}
.top_menu_nav ul ul {
// position : absolute;
top : 100%;
// background-color: rgba(0,0,0, 0.5);
// left : -2px;

background-color : rgba(255,255,255, 0.3);
}



  .Main_list_1{
    float: left;
    width:45%;
  }

  
  .Main_list_2{
    float:right;
    width:45%;
  }

  .List_table {
    padding : 5px;
    border : black 1px solid;

  }
  .List_Top_Info{
    flex-direction: row;
    display: flex;
    border : red 1px solid;
  }
  .List_Bottom_Info{
    border : blue 1px solid;
    
  }
  .List_ul{
    
    margin:0;
  }
  .List_ul li{ 
    float:left;
    list-style-type: none;
  }
